sudo: false
language: perl
perl:
  - "5.28"
  - "5.26"
  - "5.24"
  - "5.22"
  - "5.20"
  - "5.18"
install:
    - cpanm -q --notest Devel::Cover::Report::Codecov || (cat /home/travis/.cpanm/build.log; false)
    - cpanm -q --notest Pod::Weaver::Section::Contributors || (cat /home/travis/.cpanm/build.log; false)
    - cpanm -q --notest Dist::Zilla Dist::Zilla::App::Command::cover Dist::Zilla::App::Command::kwalitee || (cat /home/travis/.cpanm/build.log; false)
    - dzil authordeps --missing | cpanm -q --notest || (cat /home/travis/.cpanm/build.log; false)
    - dzil listdeps --author --missing | cpanm -q --notest || (cat /home/travis/.cpanm/build.log; false)
script:
    - dzil test --all
    - dzil kwalitee
    - dzil cover
after_success:
    - cover -report codecov
